.table-row{
  display: table-row;
}

.header {
  background-color: #f0f0f0;
}

.table {
  display: table;
  border-collapse: collapse;
  width: 100%;

  .cell {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ced4da;;
    text-align: center;
  }

}

.total {
  margin-top: 20px;
  span {
    font-weight: 700;
  }
}

