@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.table {
  display: table;
  border-collapse: collapse;
  width: 100%;

  .cell {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ced4da;;
    text-align: center;
  }

  .table-header {
    display: table-row;
    .cell {
      background-color: #e5e5e5;
    }
  }

  .table-row {
    display: table-row;
    &:nth-child(2n + 1) {
      .cell {
        background-color: #f7f7f7;
      }
    }
    &:nth-child(1) {
      background: #666; 
      color: inherit; 
     } 
  }  

}




