@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.loader-container { 
  position: absolute; 
  left: 0; 
  top: 0; 
  width: 100vw; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  overflow: hidden;

  .loader {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    font-size: 10px;
    position: relative;
    border: 1.1em solid rgba(0, 0, 0, 0.1);
    border-left: 1.1em solid #929292;
    transform: translateZ(0);
    animation: spiner 1.5s infinite linear;
  }
}

@keyframes spiner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 20px;
}

.table {
  display: table;
  border-collapse: collapse;
  width: 100%;

  .table-header {
    display: table-row;
    .table-cell {
      background-color: #e5e5e5;
    }
  }

  .table-row {
    display: table-row;
    &:nth-child(2n + 1) {
      .table-cell {
        background-color: #f7f7f7;
      }
    }
    &:nth-child(1) {
      background: #666; 
      color: inherit; 
     } 
  }  

  .table-cell {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ced4da;;
    text-align: center;
  }

}




